.main-container {
  margin: 0 auto;
  width: 1200px;
}
.main-container > div{
  width: 450px;
  height: 200px;
}
.selectable-list-component .selected {
    color: red;
}

li {
    cursor: pointer;
}

.hidden {
  display: none;
}

.sliding-menu  li {
  list-style-type: none;
}
.sliding-menu-component .sliding-menu_title::before,
.sliding-menu-container .sliding-menu-container__item::before{
  content: '▶ ';
  font-size: 80%;
  color: green;
}

.sliding-menu.open .sliding-menu_title::before {
  content: '▼ ';
}



.carusel {
  position: relative;
  width: 390px;
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
}

.carusel__wrapper {
  width: inherit;
  overflow: hidden;

}


.carusel__items {
  width: 9999px;
  margin-left: 0px;
  padding: 0;
}



.carusel__item {
  list-style-type: none;
  position: relative;
  float: left;
  display: inline-block;
  cursor: default;
}


.carusel__item span{
  top: 20px;
  position: absolute;
  left: 60px;
}


.carusel__item img{

  width: 130px;
  height: 130px;
  display: block;
}


.carusel__button {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
  cursor: pointer;
}

.carusel__button--next {
  right: 7px;

}


.carusel__button--prev {

  left: 7px;
}
